<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World Page</title>
    <style>
        body {
            background-color: #37bd80; /* Green background */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
            font-size: 36px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <p>Hello World</p>
    <p>${{values.name}}}</p>
</div>
</body>
</html>